{% extends 'blog/base.html' %}

{% block content %}
	<div>
        <h1><a href="">Portfolio</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">Articles</a></h2>
        <p>Copywriter.</p>
    </div>

    <ul><li>first</li><li>second</li></ul>

    <div>
        <p>published: 12.03.2017, 14:07</p>
        <h2><a href="">Creative work</a></h2>
        <strong>how are you?</strong><p>Contact</p>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}