<html>
 <head>
        <title>Janka's blog</title>
    </head>
    <body>
    <p>Hi there!</p>
    <p>It works!</p>
    </body>
</html>

<html>
    <head>
        <title>Janka rules hahaha</title>
    </head>
    <body>
        <div>
            <h1><a href="">Portfolio</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Articles</a></h2>
            <p>Copywriter.</p>
        </div>

        <ul><li>first</li><li>second</li></ul>

        <div>
            <p>published: 12.03.2017, 14:07</p>
            <h2><a href="">Creative work</a></h2>
            <strong>how are you?</strong><p>Contact</p>
        </div>
    </body>
    {% for post in posts %}
	    {{ post }}
	     <div>
	        <p>published: {{ post.published_date }}</p>
	        <h1><a href="">{{ post.title }}</a></h1>
	        <p>{{ post.text|linebreaksbr }}</p>
	    </div>
	{% endfor %}
</html>